/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles:
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

body,html{
    overflow-x:hidden;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-style: normal;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover,
a:focus{
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6{

}

img{
    border:none;
}

iframe{
    border: none;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
}

.img-right{
    display: block;
    margin-left: auto;
    max-width: 100%;
}

.img-left {
    display: block;
    margin-right: auto;
    max-width: 100%;
}
.af-floatleft{ float: left; }
.af-floatright{ float: right; }
.floatcenter{ margin: 0 auto; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.af-container{
    width: 1140px;
    margin: 0 auto;
   }

/*
 * Header:Transparent - styles
 */

.af-header-transparent-section{
    padding: 25px 0px;
    height: 100px;
    z-index: 10;
}
.af-logo{
    width: 210px;
}
.af-logo img{
    width: 100%;
}
.af-navigation{
    width: 780px;
}
.af-navigation ul{
    width: 100%;
    text-align: center;
}
.af-navigation li{
    display: inline-block;
}
.af-navigation li a {
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 18.77px;
}

.af-header-button{
    max-width: 150px;
}
.af-header-button a {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 18.77px;
    letter-spacing: 1px;
    text-align: center;
    padding: 9px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    border-radius: 3px;
}

/*
 * Home hero styles
 */
.af-home-hero-section{
    background: linear-gradient(195.68deg, #5F20E0 1.4%, #244ADC 110.34%);
    margin-top: -175px;
    padding: 110px 0px 75px;
}
.af-home-hero-bg-layer{
    background-image: url(assets/img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.af-hero-empty-space{
    height: 630px;
}
.af-hero-content {
    width: 50%;
    margin-top: 35px;
}
.af-hero-content h1 {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 47px;
    line-height: 70px;
}
.af-hero-content p{
    color: #ffffff;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 50px;
}
.af-hero-content a.af-hero-button {
    display: inline-block;
    background: #0091FF;
    padding: 15px 40px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}
.af-hero-content a.af-video-icon{}
.af-hero-content a.af-video-icon img {
    margin-left: 25px;
    width: 50px;
}
.af-hero-img{
    width: 50%;
}
.af-hero-img img {
    margin-top: 70px;
    width: 120%;
    margin-left: -76px;
}

/*
 * footer section styles
 */
.af-footer-top-border{
    background-image: url(assets/img/footer-top-border.svg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 200px;
    background-size: cover;
}
.af-footer-section{
    /* background: linear-gradient(270deg, #6236FF 0%, #244ADC 100%); */
    background-image: url(assets/img/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: -175px;
}
.af-footer-top{
    padding: 220px 150px 0px 150px;
}
.af-footer-column{
    float: left;
    width: 210px;
}
.af-footer-column h4{
    font-size: 18px;
    line-height: 21.11px;
    font-weight: 700;
    color: #ffffff;
}
.af-footer-column ul{}
.af-footer-column li{}
.af-footer-column li a{
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #ffffff;
}
.af-footer-column li a:hover,
.af-footer-column li a:active,
.af-footer-column li a:focus{}
.af-footer-bottom{
    padding-bottom: 50px;
    margin-top: 50px;
}
.af-footer-social-links{
    text-align: center;
    margin-top: 30px;
}
.af-footer-social-links .af-social-link{
    display: inline-block;
}
.af-footer-social-links img{
    margin: 0px 15px;
}
.af-footer-copyright{
    margin-top: 40px;
}
.af-footer-copyright p{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}
/*
 * Logo showcase
 */
.af-logo-showcase-section {
     margin-top: -72px;
     z-index: 10;
     position: relative;
}
.af-logo-showcase {
    background: #fff;
    padding: 50px 80px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 30px -5px rgba(227,227,227,1);
    -moz-box-shadow: 0px 15px 30px -5px rgba(227,227,227,1);
    box-shadow: 0px 15px 30px -5px rgba(227,227,227,1);
}
.af-logo-showcase img {
    width: 100px;
    height: auto;
    margin: 0px 45px;
}
/*
 * Home service section styles
 */
.af-service-box-section {
     background: #F5F6F8;
     margin-top: -62px;
     padding: 187px 0px 80px;
 }
.af-service-boxes-container{}
.af-service-boxes-container > h2 {
    font-size: 64px;
    color: #333333;
    text-align: center;
    font-weight: 600;
    margin: 0;
    line-height: 88px;
}
.af-service-boxes-container > p {
    color: #666666;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    padding: 0% 27%;
}
.af-service-boxes {
    margin-top: 70px;
}
.af-service-box-item:first-child {
    margin-left: 0px
}
.af-service-box-item {
    width: 26%;
    float: left;
    margin-left: 20px;
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
}
.af-service-box-item > img {
    width: 30%;
}
.af-service-box-item > h3 {
    font-size: 20px;
    line-height: 33px;
    font-weight: 500;
    color: #333333;
}
.af-service-box-item p {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
    margin-bottom: 25px;
}
.af-service-box-item ul{}
.af-service-box-item li {
    margin: 10px 0px;
}
.af-service-box-item li img {
    width: 6%;
    float: left;
    margin-right: 10px;
}
.af-service-box-item li p {
    margin: 0;
}
.service-box-item-bg1 {
    background-image: url(assets/img/service-box-1-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 80px;
}
.service-box-item-bg2 {
    background-image: url(assets/img/service-box-2-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 52px;
}
.service-box-item-bg3 {
    background-image: url(assets/img/service-box-3-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 65px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
