/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles:
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

body,html{
    overflow-x:hidden;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-style: normal;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover,
a:focus{
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6{

}

img{
    border:none;
    max-width: 100%;
}

iframe{
    border: none;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
}

.img-right{
    display: block;
    margin-left: auto;
    max-width: 100%;
}

.img-left {
    display: block;
    margin-right: auto;
    max-width: 100%;
}
.af-floatleft{ float: left; }
.af-floatright{ float: right; }
.floatcenter{ margin: 0 auto; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Home page styles
 */

.af-container{
    width: 1140px;
    margin: 0 auto;
   }

/*
 * Header:Transparent - styles
 */

.af-header-transparent-section{
    padding: 25px 0px;
    height: 100px;
    z-index: 10;
}
.af-logo{
    width: 210px;
}
.af-logo img{
    width: 100%;
}
.af-navigation{
    width: 780px;
}
.af-navigation ul{
    width: 100%;
    text-align: center;
}
.af-navigation li{
    display: inline-block;
}
.af-navigation li a {
    display: inline-block;
    padding: 5px 20px;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 18.77px;
}

.af-header-button{
    max-width: 150px;
}
.af-header-button a {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 18.77px;
    letter-spacing: 1px;
    text-align: center;
    padding: 9px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    border-radius: 3px;
}

/*
 * Home hero styles
 */
.af-home-hero-section{
    background: linear-gradient(195.68deg, #5F20E0 1.4%, #244ADC 110.34%);
    margin-top: -175px;
    padding: 110px 0px 75px;
}
.af-home-hero-bg-layer{
    background-image: url(assets/img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.af-hero-empty-space{
    height: 630px;
}
.af-hero-content {
    width: 50%;
    margin-top: 35px;
}
.af-hero-content h1 {
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 47px;
    line-height: 70px;
}
.af-hero-content p{
    color: #ffffff;
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 50px;
}
.af-hero-content a.af-hero-button {
    display: inline-block;
    background: #0091FF;
    padding: 15px 40px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}
.af-hero-content a.af-video-icon{}
.af-hero-content a.af-video-icon img {
    margin-left: 25px;
    width: 50px;
}
.af-hero-img{
    width: 50%;
}
.af-hero-img img {
    margin-top: 70px;
    width: 120%;
    margin-left: -76px;
}

/*
 * footer section styles
 */
.af-footer-top-border{
    background-image: url(assets/img/footer-top-border.svg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 200px;
    background-size: cover;
}
.af-footer-section{
    /* background: linear-gradient(270deg, #6236FF 0%, #244ADC 100%); */
    background-image: url(assets/img/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: -175px;
}
.af-footer-top{
    padding: 220px 150px 0px 150px;
}
.af-footer-column{
    float: left;
    width: 210px;
}
.af-footer-column h4{
    font-size: 18px;
    line-height: 21.11px;
    font-weight: 700;
    color: #ffffff;
}
.af-footer-column ul{}
.af-footer-column li{}
.af-footer-column li a{
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #ffffff;
}
.af-footer-column li a:hover,
.af-footer-column li a:active,
.af-footer-column li a:focus{}
.af-footer-bottom{
    padding-bottom: 50px;
    margin-top: 50px;
}
.af-footer-social-links{
    text-align: center;
    margin-top: 30px;
}
.af-footer-social-links .af-social-link{
    display: inline-block;
}
.af-footer-social-links img{
    margin: 0px 15px;
}
.af-footer-copyright{
    margin-top: 40px;
}
.af-footer-copyright p{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
}

/*
 * Logo showcase
 */
.af-logo-showcase-section {
     margin-top: -72px;
     z-index: 10;
     position: relative;
}
.af-logo-showcase {
    background: #fff;
    padding: 50px 80px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 30px -5px rgba(227,227,227,1);
    -moz-box-shadow: 0px 15px 30px -5px rgba(227,227,227,1);
    box-shadow: 0px 15px 30px -5px rgba(227,227,227,1);
}
.af-logo-showcase img {
    width: 100px;
    height: auto;
    margin: 0px 45px;
}
/*
 * Home service section styles
 */
.af-service-box-section {
     background: #F5F6F8;
     margin-top: -62px;
     padding: 187px 0px 80px;
 }
.af-service-boxes-container{}
.af-service-boxes-container > h2 {
    font-size: 64px;
    color: #333333;
    text-align: center;
    font-weight: 600;
    margin: 0;
    line-height: 88px;
}
.af-service-boxes-container > p {
    color: #666666;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    padding: 0% 27%;
}
.af-service-boxes {
    margin-top: 70px;
}
.af-service-box-item:first-child {
    margin-left: 0px
}
.af-service-box-item {
    width: 26%;
    float: left;
    margin-left: 20px;
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
}
.af-service-box-item > img {
    width: 30%;
}
.af-service-box-item > h3 {
    font-size: 20px;
    line-height: 33px;
    font-weight: 500;
    color: #333333;
}
.af-service-box-item p {
    font-size: 14px;
    line-height: 25px;
    color: #666666;
    margin-bottom: 25px;
}
.af-service-box-item ul{}
.af-service-box-item li {
    margin: 10px 0px;
}
.af-service-box-item li img {
    width: 6%;
    float: left;
    margin-right: 10px;
}
.af-service-box-item li p {
    margin: 0;
}
.service-box-item-bg1 {
    background-image: url(assets/img/service-box-1-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 80px;
}
.service-box-item-bg2 {
    background-image: url(assets/img/service-box-2-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 52px;
}
.service-box-item-bg3 {
    background-image: url(assets/img/service-box-3-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 65px;
}

/*
 * Home features: top
 */
 .af-feature-section-top {
     margin: 100px 0px 150px;
 }
.af-feature-top-wrapper{}
.af-feature-top-img {
    width: 50%;
}
.af-feature-top-img img {
    width: 90%;
}
.af-feature-top-content{
    width: 50%;
}
.af-feature-top-content h2 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 600;
    color: #333333;
}
.af-feature-top-content h6 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    margin: 30px 0px;
}
.af-feature-top-content p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #666666;
}
.af-feature-top-content a,
.af-latest-posts-callout a {
    display: inline-block;
    background: #E4F2FE;
    padding: 16px 41px;
    border-radius: 5px;
    color: #0091FF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin-top: 35px;
}
/*
 * Home features: bottom
 */
 .af-feature-section-bottom {
     margin: 0px 0px 150px;
 }
.af-feature-bottom-wrapper{}
.af-feature-bottom-content {
    width: 45%;
}
.af-feature-bottom-content h2 {
    font-size: 35px;
    line-height: 55px;
    font-weight: 600;
    color: #333333;
    margin-top: 0;
}
.af-feature-bottom-content p {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 50px;
}
.af-icon-box-wrapper {
    margin-bottom: 50px;
}
.af-icon-box-wrapper:last-child{
    margin-bottom: 0px;
}
.af-icon-box-img {
    width: 8%;
    margin-right: 30px;
}
.af-icon-box-img img{}
.af-icon-box-content{}
.af-icon-box-content h4 {
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
    color: #333333;
    margin: 0px 0px;
}
.af-icon-box-content p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    color: #666666;
    margin: 20px 0px 0px 78px;
}
.af-feature-bottom-img{
    width: 55%;
}
.af-feature-bottom-img img {
    width: 90%;
    float: right;
    margin-top: 25px;
}

/*
 * Testimonial section styles
 */
.af-testimonial-section {
    background: linear-gradient(270deg, #6236FF 0%, #244ADC 100%);
    border-radius: 0px 100px 0px 0px;
    width: 80%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 100px;
    margin-bottom: 235px;
}
.af-testimonial-wrapper {
    position: relative;
}
.af-testimonial-wrapper > img.af-top-right {
    float: right;
}
.af-testimonial-wrapper > img.af-bottom-left {
    bottom: 12%;
    position: absolute;
    left: -6%;
}
.af-testimonial-content-wrapper {
    position: relative;
}
.af-testimonial-content-wrapper > img {
    width: 90px;
    position: absolute;
    left: 57%;
    top: 10%;
}
.af-carousel-item{}
.af-testimonial-img-wrapper {
    width: 40%;
    float: left;
}
.af-testimonial-img-wrapper{}
.af-testimonial-img {
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 412px;
    height: 412px;
}
.af-testimonial-img img {
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -20px;
    width: 412px;
    height: 412px;
}
.af-testimonial-thumb-wrapper {
    background: #ffffff;
    padding: 20px 20px 24px;
    border-radius: 5px;
    position: relative;
    width: 60%;
    margin-left: 242px;
    margin-top: -105px;
}
.af-testimonial-thumb-wrapper img {
    width: 30% !important;
    float: left;
    margin-right: 25px;
}
.af-testimoial-thumb-content {
    margin-left: 90px;
}
.af-testimoial-thumb-content h4 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #333333;
}
.af-testimoial-thumb-content p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}
.af-testimonial-item-content {
    width: 43%;
    float: right;
}
.af-testimonial-item-content p {
    font-family: Georgia, sans-serif;
    font-size: 30px;
    line-height: 55px;
    font-weight: 400;
    color: #ffffff;
    margin: 60px 0px 0px;
}
/* owl carousel styles */
.owl-nav{
    text-align: center;
    margin-left: 25%;
    margin-top: 80px;
}
.owl-nav button{
    margin: 15px;
    background: #0091FF !important;
    color: #ffffff !important;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.owl-nav .disabled{
    background: #3A4FF4 !important;
}
.owl-carousel .owl-stage-outer{
    overflow: inherit !important;
}

/* home latest post section */
.af-latest-posts-section {
    margin-bottom: 100px;
}
.af-latest-posts-wrapper{}
.af-latest-posts-callout {
    width: 40%;
    float: left;
    margin-right: 100px;
}
.af-latest-posts-callout h2 {
    font-size: 50px;
    line-height: 65px;
    color: #333333;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
}
.af-latest-posts-callout p {
    color: #666666;
    font-size: 20px;
    line-height: 33px;
    font-weight: 400;
}
.af-latest-posts-callout a{}
.af-latest-posts-content-wrapper {
    float: right;
    width: 50%;
}
.af-latest-post-item {
    width: 40%;
    float: left;
    margin: 15px;
    padding: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}
.af-latest-post-item img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.af-latest-post-item h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #333333;
    font-family: Georgia, sans-serif;
}
.af-latest-posts-title-border {
    border: 1px solid #FF83B2;
    display: inline-block;
    width: 26%;
}
.af-latest-posts-content-wrapper > div:first-child,
.af-latest-posts-content-wrapper > div:nth-of-type(3){
    margin-top: -67px;
}

/*
 * About page styles
 */

 .af-primary-hero-section {
     background: url(assets/img/about/about-hero-bg.svg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     padding: 290px 0px 411px;
     margin-top: -218px;
 }
 .af-primary-hero-section h1 {
     text-align: center;
     color: #ffffff;
     font-family: 'Work Sans', sans-serif;
     font-size: 64px;
     line-height: 88px;
     font-weight: 600;
     margin: 0% 17%;
 }
.af-about-video-section{}
.af-video-content-wrapper{}
.af-about-video-content {
    width: 53%;
    padding-right: 45px;
}
.af-about-video-content h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 53px;
    line-height: 74px;
    font-weight: 600;
    font-style: normal;
    color: #333333;
}
.af-about-video-content p.af-video-subtitle {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #333333;
}
.af-about-video-content p {
    font-size: 16px;
    line-height: 25px;
    color: #666666;
    font-weight: 400;
    margin-right: 40px;
}
.af-about-video {
    width: 43%;
    margin-top: 110px;
}
.af-about-video a.video-thumb{}
.af-about-video a.video-thumb img{}
.af-icon-box-section{}
.af-icon-box-content-wrapper {
    background: #F5F6F8;
    padding: 50px;
    margin: 100px 0px;
    border-radius: 5px;
}
.af-icon-box-content-wrapper .af-icon-box:first-child {
    padding-right: 35px;
}
.af-icon-box-content-wrapper .af-icon-box:last-child {
    padding-left: 35px;
}
.af-icon-box {
    width: 46%;
}
.af-iconbox-img {
    float: left;
    margin-right: 30px;
    width: 8%;
}
.af-iconbox-img img{}
.af-iconbox-content {
    float: right;
    width: 85%;
}
.af-iconbox-content h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
    color: #333333;
    margin: 0;
}
.af-iconbox-content p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #666666;
}
.af-project-slider-section{}
.af-project-slider-content-wrapper {
    background-image: url(assets/img/about/dot-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
}
.af-project-slider-content-wrapper {}
.af-project-slider-content-wrapper .owl-nav {
    margin-left: inherit;
    margin-top: 50px;
}
.af-project-slider-content-wrapper .owl-nav button {
    background: #ffffff !important;
    color: #0091FF !important;
    border: 1px solid #0091FF !important;
    border-radius: 3px !important;
}
.af-project-slider-content-wrapper .owl-nav button.disabled{
    background: #0091FF !important;
    color: #ffffff !important;
    border: none !important;
}
.af-project-slide-item{}
.af-project-slide-content {
    width: 45%;
    float: left;
    padding-top: 20px;
}
.af-project-slide-content h2 {
    font-size: 57px;
    line-height: 60px;
    font-weight: 600;
    color: #333333;
    font-family: 'Work Sans';
}
.af-project-slide-content p{}
.af-project-slide-content a{}
.af-project-slide-img {
    width: 40%;
    float: right;
    height: 328px;
    background-image: url(assets/img/about/slide-thumb-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 73px;
    margin-right: 50px;
}
.af-project-slide-img a{}
.af-project-slide-img a img {
    margin-top: -18px;
    border-radius: 5px;
    box-shadow: 5px 5px 13px 4px #dbdbdb;
    -webkit-box-shadow: 5px 5px 13px 4px #dbdbdb;
}
.af-about-calltoaction-section {
    background-image: url(assets/img/about/call-to-action-top-bg.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding: 197px 0px 0px;
}
.af-about-calltoaction-bglayer {
    background-image: url(assets/img/about/call-to-action-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 45px 0px;
    margin-bottom: -18px;
}
.af-calltoaction-wrapper{}
.af-calltoaction-title {
    width: 62%;
    float: left;
}
.af-calltoaction-title h2 {
    font-size: 48px;
    line-height: 70px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Work Sans';
}
.af-calltoaction-button {
    float: right;
}
.af-calltoaction-button a {
    color: #244ADC;
    padding: 15px 55px;
    background: #ffffff;
    border-radius: 3px;
    margin-top: 91px;
    display: block;
    box-shadow: 0px 6px 15px 0px #244adca1;
    -webkit-box-shadow: 0px 6px 15px 0px #244adca1;
    -moz-box-shadow: 0px 6px 15px 0px #244adca1;
}
.af-calltoaction-button a i {
    margin-left: 20px;
}
.af-team-section {
    background: #F5F5F5;
    padding: 100px 0px;
}
.af-team-content-wrapper{}
.af-team-title{}
.af-team-title h2 {
    font-family: 'Work Sans';
    font-size: 64px;
    line-height: 88px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.af-team-title p {
    text-align: center;
    color: #666666;
    margin: 0% 27% 5%;
}
.af-team-member-wrapper{}
.af-single-team-card {
    width: 26%;
    padding: 50px 30px 35px;
    background: #ffffff;
    margin: 10px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    text-align: center;
}
.af-single-team-card img {
    border-radius: 300px;
    width: 40%;
}
.af-single-team-card h4 {
    color: #666666;
    text-transform: uppercase;
}
.af-single-team-card h3 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;
    color: #333333;
}
.af-single-team-card p {
    color: #666666;
}
.af-team-social-icon-wrapper{}
.af-team-social-icon-wrapper i {
    color: #9B9B9C;
    margin: 10px;
}
.af-about-testimonial-section {
    padding: 100px 0px;
}
.af-about-testimonial-title {
    text-align: center;
    margin-bottom: 50px;
}
.af-about-testimonial-title h2 {
    font-family: 'Work Sans';
    font-size: 64px;
    line-height: 88px;
    font-weight: 600;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 20px;
}
.af-about-testimonial-title p {
    color: #666666;
}
.af-about-testimonial-content-wrapper{}
.af-about-testimonial-thumb {
    width: 50%;
}
.af-about-testimonial-client-img{}
.af-about-testimonial-client-img img {
    border-radius: 5px;
    width: 70%;
}
.af-about-testimonial-brand-logo-wrapper {
    background: #ffffff;
    border-radius: 5px;
    padding: 25px;
    width: 40%;
    box-shadow: 1px 8px 10px 0px #c5c5c5;
    -webkit-box-shadow: 1px 8px 10px 0px #c5c5c5;
    -moz-box-shadow: 1px 8px 10px 0px #c5c5c5;
    margin-top: -136px;
    position: relative;
    margin-left: 256px;
}
.af-about-testimonial-brand-logo {
    width: 35%;
    float: left;
    margin-right: 20px;
}
.af-about-testimonial-brand-logo img{}
.af-about-testimonial-brand-logo-content {
    width: 56%;
    float: right;
}
.af-about-testimonial-brand-logo-content h4 {
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #333333;
}
.af-about-testimonial-brand-logo-content p {
    color: #999999;
    margin: 0;
}
.af-about-testimonial-content {
    width: 45%;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 54px;
}
.af-about-testimonial-content p {
    font-size: 32px;
    line-height: 53px;
    font-family: Georgia;
    margin-top: 0px;
}
.af-about-testimonial-rating-wrapper{}
.af-about-testimonial-rating-wrapper img {
    width: 23px;
}
.af-about-logo-section {
    margin-bottom: 100px;
}
.af-about-logo-wrapper {
    background: #ffffff;
    text-align: center;
    padding: 50px;
    box-shadow: 0px 25px 10px -10px #d9d9d963;
    -webkit-box-shadow: 0px 25px 10px -10px #d9d9d963;
    -moz-box-shadow: 0px 25px 10px -10px #d9d9d963;
}
.af-about-logo-wrapper img {
    margin: 20px;
    width: 130px;
}

/*
 * Service page styles
 */
.af-service-box-section-bg {
    background: #ffffff;
    padding-top: 100px;
}
.af-service-box-servicepage{}
.af-service-box-servicepage .service-box-item-bg1,
.af-service-box-servicepage .service-box-item-bg3 {
    border: 1px solid #dddddd;
}
.af-service-icon-box-section {
    margin-top: 100px;
}
.af-service-icon-box-wrapper {
    background: #244ADC;
    border-radius: 15px;
    padding: 50px;
    color: #fff;
    position: relative;
}
.af-service-icon-box-item {
    float: left;
    width: 29.4%;
    padding: 20px;
}
.af-service-icon-box-item img {
    width: 20%;
}
.af-service-icon-box-item h3 {
    font-family: 'Work Sans';
    font-size: 28px;
    line-height: 45px;
    margin: 15px 0px;
}
.af-service-icon-box-item p{}
.af-service-page-feature-section-top {
    background: #f7f8f9;
    margin: -212px 0px 0px;
    padding-top: 336px;
}
.af-service-page-feature-section-bottom {
    background: #f7f8f9;
    margin: 0px;
    padding: 136px 0px;
}
.af-service-page-calltoaciton-section {
    padding: 0px 0px 217px;
    background: #f7f8f9;
    margin-bottom: -386px;
}
.af-service-page-calltoaciton-section .af-about-calltoaction-bglayer {
    padding: 40px;
    position: relative;
}

/*
 * Blog page styles
 */
 .af-blogpage-hero-section {
     background-image: linear-gradient(195.68deg, #5F20E0 1.4%, #244ADC 110.34%);
     background-color: #244adc;
     margin-top: -183px;
 }
 .af-blogpage-bg-layer {
    padding: 145px 0px 280px;
    background-image: url(assets/img/blog-bg-vector.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
 .af-blogpage-bg-layer h1 {
     text-align: center;
     color: #ffffff;
     font-size: 64px;
     line-height: 88px;
     padding: 0px 22%;
 }
.af-blog-post-section{}
.af-blog-post-wrapper {
    background: #ffffff;
    padding: 50px;
    margin-top: -219px;
    border-radius: 10px 10px 0px 0px;
}
.af-left-column {
    width: 68%;
    margin-right: 20px;
}
.af-right-column {
    width: 30%;
}
.af-blog-featured-content{}
.af-blog-post-item {
    margin-bottom: 25px;
}
.af-blog-post-item img {
    border-radius: 5px 5px 0px 0px;
}
.af-post-item-content {
    padding: 30px;
    border: 1px solid #9a9a9a42;
    border-top: none;
}
.af-blog-featured-content .af-post-item-content{
    border-radius: 0px 0px 5px 5px;
}
.af-blog-featured-content .af-post-item-content h1 a {
    font-family: 'Work Sans';
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    color: #333333;
}
.af-blog-post-item h1{
    margin: 0px 0px 20px;
}
.af-blog-post-item h1 a {
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    font-weight: bold;
}
.af-blog-post-item p {
    color: #666666;
}
.af-blog-post-item a.af-post-readmore {
    font-family: 'Work Sans';
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #244ADC;
    padding: 15px 20px;
    border-radius: 3px;
    display: inline-block;
    font-style: normal;
    text-transform: capitalize;
    margin-top: 15px;
}
.af-blogpage-footer-callout{
    background: none;
}
.af-blog-posts{}
.af-blog-posts .af-blog-post-item {
    width: 48.5%;
    float: left;
    margin-right: 20px;
}
.af-blog-posts .af-blog-post-item:last-child{
    margin-right: 0px;
}
.af-right-column .af-blog-post-item{}

/*
 * Blog single page style
 */
 .af-blog-single-hero-section {
     padding: 380px 0px 280px;
 }
 .af-blog-single-content-section {
    margin-top: -459px;
    margin-bottom: 100px;
}
 .af-post-featured-thumb {
     text-align: center;
     height: 520px;
 }
 .af-post-featured-thumb img {
     border-radius: 5px;
     width: 100%;
 }
.af-post-meta-wrapper{}
.af-post-meta-wrapper h1 {
    margin: 50px 0px 30px;
    font-family: 'Work Sans';
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    color: #333333;
}
.af-post-meta{}
.af-post-author {
    width: 22%;
    float: left;
    margin-right: 50px;
}
.af-post-author img {
    width: 64px;
    border-radius: 10px;
    float: left;
}
.af-author-name {
    float: right;
}
.af-author-name h4 {
    margin: 0px;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #333333;
}
.af-author-name a {
    color: #999999;
}
.af-post-date {
    width: 22%;
    float: left;
    margin-right: 50px;
    margin-top: 14px;
}
.af-post-date img {
    width: 28px;
    float: left;
    margin-right: 20px;
}
.af-post-date p {
    margin: 3px 0px 0px;
    color: #666666;
}
.af-post-comment {
    width: 22%;
    float: left;
    margin-top: 14px;
}
.af-post-comment img {
    width: 28px;
    float: left;
    margin-right: 20px;
}
.af-post-comment p {
    margin: 0;
}
.af-post-comment p a {
    color: #666666;
}
.af-post-meta-wrapper {
    padding-bottom: 40px;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 50px;
}
.af-post-content {
    width: 65%;
    float: left;
}
.af-post-sidebar {
    width: 25%;
    float: right;
}
.af-post-sidebar h2 {
    margin: 0px 0px 30px;
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    font-weight: 600;
}
.af-post-sidebar img{}
.af-post-sidebar-item {
    margin-bottom: 50px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
