/* ==========================================================================
   Responsive Styles.
   These override the primary ('mobile first') styles.
   Modify as content requires.

   Default: Laptop/Desktop Device (1024px & after)
   File: responsive.css
   Version: 1.0
   ========================================================================== */

/*
* Mobile Device
* Range: 767px & before
*
* If "device-width is equal to OR less than 767px", then apply {styles}
*/
@media screen and (max-width: 767px){

    .af-container{
        width: 85%;
    }
    /* header styles */
    .af-logo {
        width: 40%;
    }
    .af-navigation {
        width: 50%;
        text-align: center;
        float: right;
        position: relative;
    }
    .af-header-button {
        display: none;
    }
    .af-navigation a {
        display: none;
    }
    .af-navigation a.af-mobile-toggle-icon {
        font-size: 25px;
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 5px 0px;
    }
    .af-navigation a.af-mobile-toggle-icon:hover{
        background: none;
    }
    .af-navigation .af-nav{}
    .af-responsive {
        position: absolute;
        right: 0;
        top: 48px;
        background: #00000057;
        border-radius: 3px;
        padding: 15px 0px;
        overflow: hidden;
    }
    .af-navigation .af-responsive a {
        display: block;
        text-align: center;
        padding: 10px 50px;
    }
    .af-navigation .af-responsive a:hover{
        background: #dddddd33;
    }
    .af-hero-content h1 {
        font-size: 20px;
        line-height: 35px;
    }
    .af-hero-content p {
        font-size: 13px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .af-hero-img img {
        margin-top: 100px;
        margin-left: 0px;
    }
    .af-hero-content a.af-hero-button {
        padding: 15px 20px;
    }
    .af-home-hero-section {
        margin-top: -175px;
        padding: 110px 0px 0px;
        position: relative;
    }
    .af-hero-empty-space {
        height: 470px;
    }
    .af-logo-showcase {
        padding: 20px;
    }
    .af-logo-showcase img {
        width: 42px;
        margin: 0px 15px;
    }
    .af-logo-showcase-section {
        margin-top: -32px;
    }
    .af-header-transparent-section{
        position: relative;
    }
    .af-service-box-section {
        margin-top: -62px;
        padding: 148px 0px 80px;
    }
    .af-service-boxes-container > h2 {
        font-size: 40px;
    }
    .af-service-boxes-container > p {
        padding: 0% 10%;
    }
    .af-service-box-item {
        width: 80%;
        float: inherit;
        margin-left: 0px;
        padding: 10%;
        margin-bottom: 50px;
    }
    .af-feature-top-img {
        width: 100%;
        float: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .af-feature-top-img img {
        width: 70%;
    }
    .af-feature-top-content {
        width: 100%;
    }
    .af-service-icon-box-section {
        margin-top: 0px;
    }
    .af-feature-section-top {
        margin: 100px 0px 0px;
        padding-top: 100px;
    }
    .af-feature-bottom-content {
        width: 100%;
        margin-top: 80%;
    }
    .af-feature-bottom-img {
        width: 80%;
        position: absolute;
        text-align: center;
        float: none;
    }
    .af-feature-bottom-img img {
        width: 70%;
        float: none;
        margin-top: 0px;
    }
    .af-icon-box-content p {
        font-size: 16px;
        margin: 20px 0px 0px 66px;
    }
    .af-testimonial-section {
        width: 70%;
        padding: 10%;
        margin-bottom: 144px;
    }
    .af-testimonial-img-wrapper {
        width: 100%;
        float: none;
    }
    .af-testimonial-img {
        width: 360px;
        height: 360px;
    }
    .af-testimonial-img img {
        width: 360px;
        height: 360px;
    }
    .af-testimonial-item-content {
        width: 100%;
        float: none;
        margin-top: 90px;
    }
    .af-testimonial-thumb-wrapper {
        width: 70%;
        margin: -20px auto 0;
        padding: 20px;
    }
    .af-testimonial-content-wrapper > img {
        width: 30px;
        left: 0%;
        bottom: 42%;
        top: inherit;
    }
    .af-testimonial-wrapper > img.af-bottom-left {
        bottom: 57%;
        left: -12%;
        width: 20%;
    }
    .owl-nav {
        text-align: center;
        margin: 50px auto 30px;
    }
    .af-testimonial-wrapper > img.af-top-right {
        width: 20%;
        margin-bottom: -20px;
    }
    .af-testimonial-thumb-wrapper img {
        width: 70px;
        height: auto;
    }
    .af-latest-posts-callout {
        width: 100%;
        float: none;
        margin-bottom: 145px;
    }
    .af-latest-posts-content-wrapper {
        float: none;
        width: 100%;
    }
    .af-latest-post-item {
        width: 90%;
        float: none;
        margin: 20px 0px;
        padding: 5%;
    }
    .af-footer-section{
        background-size: cover;
    }
    .af-footer-top-border{
        background-size: auto;
    }
    .af-footer-top {
        padding: 80% 10% 5%;
    }
    .af-footer-column {
        float: none;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }
    .af-footer-column h4 {

    }
    .af-footer-top-border {
        height: 153px;
    }
    .af-primary-hero-section {
        padding: 353px 0px 411px;
        margin-top: -395px;
    }
    .af-primary-hero-section {
        padding: 220px 0px;
        margin-top: -165px;
        background-size: cover;
    }
    .af-primary-hero-section h1 {
        font-size: 50px;
        line-height: 75px;
        margin: 0% 2%;
    }
    .af-about-video-section {
        margin-top: 50px;
    }
    .af-about-video-content {
        width: 100%;
        padding: 0px;
        margin-bottom: 25px;
        float: none;
    }
    .af-about-video-content h2 {
        font-size: 35px;
        line-height: 50px;
    }
    .af-about-video {
        width: 100%;
        margin-top: 50px;
        float: none;
    }
    .af-about-video a.video-thumb {
        display: block;
        text-align: center;
    }
    .af-icon-box {
        width: 100%;
        margin-bottom: 50px;
    }
    .af-iconbox-content {
        float: right;
        width: 82%;
    }
    .af-icon-box-content-wrapper .af-icon-box:last-child {
        margin-bottom: 0px;
    }
    .af-project-slide-content {
        width: 100%;
        float: none;
    }
    .af-project-slide-content h2 {
        font-size: 37px;
        line-height: 46px;
    }
    .af-project-slide-img {
        width: 73%;
        float: none;
        height: auto;
        margin: 50px auto 0px;
    }
    .af-project-slider-content-wrapper {
        background-position: 107% -11%;
    }
    .af-about-calltoaction-section {
        padding: 90px 0px 0px;
        position: relative;
        background-size: cover;
    }
    .af-about-calltoaction-bglayer {
        padding: 0px;
        background-size: cover;
    }
    .af-calltoaction-title {
        width: 100%;
        float: none;
    }
    .af-calltoaction-title h2 {
        font-size: 18px;
        line-height: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    .af-calltoaction-button {
        float: none;
        text-align: center;
    }
    .af-calltoaction-button a {
        padding: 5px 15px;
        margin-top: 8px;
        display: inline-block;
        font-size: 13px;
    }
    .af-calltoaction-wrapper {
        padding: 4%;
    }
    .af-team-section {
        margin-top: -28px;
    }
    .af-team-title p {
        margin: 0% 10% 5%;
    }
    .af-single-team-card {
        width: 70%;
        padding: 50px 10% 35px;
        margin: 5%;
    }
    .af-team-title h2,
    .af-about-testimonial-title h2 {
        font-size: 44px;
    }
    .af-about-testimonial-thumb {
        width: 100%;
        float: none;
    }
    .af-about-testimonial-content {
        width: 100%;
        float: none;
        margin-top: 100px;
    }
    .af-about-testimonial-brand-logo-wrapper {
        width: 60%;
        margin-top: -60px;
        margin-left: 116px;
    }

    /* service page styles */
    .af-service-icon-box-item {
        width: 100%;
        margin-bottom: 50px;
    }
    .af-service-icon-box-item:last-child{
        margin-bottom: 0px
    }
    .af-service-page-calltoaciton-section{
        padding: 40px 0px 0px;
        position: inherit;
        background-size: cover;
        margin-bottom: -235px;
    }
    .af-service-page-calltoaciton-section .af-about-calltoaction-bglayer {
        padding: 20px;
        position: relative;
        border-radius: 10px;
    }

}

/*
* Tablet Device
* Range: 768px - 1023px
*
* If "device-width is equal to OR greater than 768px"
* AND "device-width" is equal to OR less than 1023px, then apply {styles}
*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .af-container{
        width: 85%;
    }
    .af-header-transparent-section {
        position: relative;
    }
    .af-logo {
        width: 20%;
    }
    .af-navigation {
        width: 62%;
    }
    .af-header-button {
        width: 18%;
    }
    .af-navigation a {
        font-size: 14px;
        padding: 5px;
    }
    .af-header-button a {
        font-size: 14px;
        padding: 9px 20px;
    }
    .af-hero-content h1 {
        font-size: 28px;
        line-height: 47px;
    }
    .af-hero-content p {
        font-size: 18px;
        line-height: 38px;
    }
    .af-hero-img img {
        margin-left: 0px;
    }
    .af-home-hero-section {
        padding: 132px 0px 16px;
        position: relative;
    }
    .af-logo-showcase-section {
        margin-top: -39px;
        position: relative;
    }
    .af-logo-showcase {
        padding: 30px;
    }
    .af-logo-showcase img {
        width: 70px;
        margin: 0px 20px;
    }
    .af-hero-empty-space {
        height: 560px;
    }
    .af-service-boxes-container > p {
        padding: 0% 20%;
    }
    .af-service-box-item {
        width: 22%;
        min-height: 550px;
        margin-bottom: 25px;
    }
    .af-service-box-item li img {
        margin-top: 5px;
    }
    .af-service-box-item li p {
        margin: 0 0 0 10%;
    }
    .af-feature-bottom-img img,
    .af-feature-top-img img {
        margin-top: 25%;
    }
    .af-testimonial-section {
        width: 75%;
        margin-bottom: 180px;
    }
    .af-testimonial-img-wrapper {
        margin-top: 50px;
    }
    .af-testimonial-img {
        width: 250px;
        height: 250px;
    }
    .owl-carousel .owl-item img {
        width: 100%;
        height: auto;
    }
    .af-testimonial-thumb-wrapper {
        width: 92%;
        margin-left: 74px;
        margin-top: -65px;
        padding: 10px;
    }
    .af-testimonial-item-content p {
        font-size: 23px;
        line-height: 45px;
    }
    .af-testimonial-content-wrapper > img {
        width: 70px;
        left: 60%;
        top: 16%;
    }
    .af-testimoial-thumb-content p {
        font-size: 14px;
    }
    .af-latest-posts-callout {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 137px;
        float: none;
    }
    .af-latest-posts-content-wrapper {
        width: 100%;
        float: none;
    }
    .af-footer-top-border,
    .af-footer-section {
        background-size: auto;
    }
    .af-footer-top {
        padding: 260px 72px 0px;
    }
    .af-footer-column {
        float: left;
        width: 50%;
        margin-bottom: 40px;
        text-align: center;
    }
    .af-footer-bottom {
        margin-top: 10px;
        padding-bottom: 35px;
    }

    /* About page styles */
    .af-primary-hero-section {
        padding: 446px 0px 473px;
        margin-top: -464px;
    }
    .af-primary-hero-section h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .af-about-video-section {
        margin-top: -227px;
    }
    .af-about-video-content {
        width: 50%;
    }
    .af-about-video-content h2 {
        font-size: 30px;
        line-height: 50px;
    }
    .af-icon-box {
        width: 43%;
    }
    .af-iconbox-img {
        margin-right: 20px;
        width: 20%;
    }
    .af-iconbox-content {
        width: 71%;
    }
    .af-iconbox-img img {
        width: 50px;
    }
    .af-project-slide-content h2 {
        font-size: 45px;
    }
    .af-project-slide-img {
        height: 245px;
        margin-top: 120px;
        width: 350px;
        margin-right: 0px;
    }
    .af-project-slide-content {
        width: 43%;
    }
    .owl-carousel .owl-item img {

    }
    .af-about-calltoaction-section {
        padding: 80px 0px 0px;
        position: relative;
    }
    .af-service-page-calltoaciton-section {
        padding: 80px 0px 0px;
        position: inherit;
        margin-bottom: -228px;
    }
    .af-service-page-calltoaciton-section .af-calltoaction-button a{
        margin-top: 5px;
    }
    .af-service-page-calltoaciton-section .af-calltoaction-title h2 {
        font-size: 27px;
        line-height: 38px;
        margin: 0px;
    }
    .af-calltoaction-button a {
        padding: 15px 35px;
    }
    .af-service-page-calltoaciton-section .af-calltoaction-title {
        width: 58%;
    }
    .af-about-calltoaction-bglayer {
        padding: 80px 0px 74px;
        margin-bottom: -116px;
    }
    .af-calltoaction-title h2 {
        font-size: 30px;
        line-height: 45px;
        margin: 0px;
    }
    .af-calltoaction-button a {
        margin-top: 20px;
    }
    .af-team-section {
        margin-top: 25px;
    }
    .af-team-title p {
        margin: 0% 15% 5%;
    }
    .af-single-team-card {
        width: 21.8%;
        margin: 1%;
    }
    .af-team-title h2 {
        font-size: 44px;
    }
    .af-team-title {
        margin-top: 50px;
    }
    .af-single-team-card h3 {
        font-size: 18px;
    }
    .af-about-testimonial-title h2 {
        font-size: 44px;
    }
    .af-about-testimonial-title p {
        padding: 0% 15%;
    }
    .af-about-testimonial-title {
        margin-bottom: 73px;
    }
    .af-about-testimonial-client-img img {
        width: 80%;
    }
    .af-about-testimonial-brand-logo-wrapper {
        width: 70%;
        margin-left: 114px;
        padding: 15px 15px 12px;
        margin-top: -111px;
    }
    .af-about-testimonial-content {
        width: 42%;
    }
    .af-about-testimonial-brand-logo {
        width: 34%;
    }
    .af-about-testimonial-brand-logo-content h4 {
        font-size: 18px;
    }
    .af-about-testimonial-brand-logo-content p {
        font-size: 13px;
    }
    .af-about-testimonial-thumb {
        width: 45%;
    }
    .af-about-logo-wrapper img {
        width: 68px;
    }
    .af-about-testimonial-content p {
        font-size: 26px;
        line-height: 47px;
    }

    /* service page styles */
    .af-service-box-section-bg {
        margin-top: -284px;
    }
    .af-service-page-calltoaciton-section .af-about-calltoaction-bglayer {
        background-size: cover;
        border-radius: 5px;
    }
    .af-service-box-item {
        width: 21%;
    }
    .af-service-icon-box-item {
        width: 25%;
    }
    .af-service-icon-box-item h3 {
        font-size: 22px;
        line-height: 35px;
    }
}

/*
* Laptop & Desktop Device (Default Style)
* Range: 1024px & after
*
* If "device-width is equal to OR greater than 1024px", then apply {styles}
*/
/* @media screen and (min-width: 1024px){

} */


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
